.teamlist {
    @include reset-list;
    max-width: 700px;
    text-align: left;
    position: relative;
    margin: 5em auto;

    @include bp(450px, max) {
        text-align: center;
    }

    @include bp(450px) {
        display: table;
        width: 100%;
    }

    & > li {
        @include bp(450px) {
            & > div {
                display: table-row;
            }
        }

        display: inline-block;
        padding: 3em 0;

        &:not(:last-of-type) {
            border-bottom: 1px solid rgba($gray-light, .38);
        }
    }
}

.team-avatar {
    width: 135px;
    height: 135px;
    border-radius: 100%;
    overflow: hidden;
    float: left;
    margin-right: 25px;
    border: 1px solid rgba($gray-light, .38);
    display: block;

    @include bp(450px) {
        display: table-cell;
    }

    @include bp(500px, max) {
        width: 100px;
        height: 100px;
    }

    @include bp(450px, max) {
        width: 100px;
        height: 100px;
        float: none;
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 0;
    }

    img {
        height: 135px;
        width: auto;
        text-align: center;

        @include bp(500px, max) {
            height: 100px;
        }
    }
}

.team-text {
    @include bp(450px) {
        display: table-cell;
        vertical-align: top;
    }
}
