
<form name="myForm" class="modalForm" data-ng-if="state == 0">
        <div class="form-group">
            <label for="name">Je naam</label>
            <input type="text" name="name" required class="form-control" ng-model="user.name" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="email">Je emailadres</label>
            <input type="email" name="email" required class="form-control" ng-model="user.email" autocomplete="off">
        </div>
        <a href="#" class="btn btn-primary btn-block" ng-click="initCountdown(3, record)" ng-disabled="myForm.$invalid">Neem je boodschap op!</a>
    </form>
    <div class="modalbox" data-ng-if="state == 4">
        <h1 class="text-success"><span class="fa fa-check-circle fa-4x"></span></h1>
    </div>
        <div class="modalbox" data-ng-if="state == 3">
        <h1 style="color: #fff"><span class="fa fa-circle-o-notch fa-4x fa-spin"></span></h1>
    </div>




<div class="controls" data-ng-if="[1,2].indexOf(state) > -1">  
    <div ng-if="state == 1">
        <span ng-if="countdown > 0">{{countdown}}</span>
    <a href="#" class="btn btn-success" ng-click="stopRecord()"><span class="fa fa-check"></span></a>    
    <a href="#" class="btn btn-danger" ng-click="reset()"><span class="fa fa-arrow-left"></span></a>
    </div>
<div ng-if="state == 2">
    <a href="#" class="btn btn-primary" ng-click="play()"><span class="fa" ng-class="{'fa-play': !playing, 'fa-pause': playing}"></span></a> 
        
    <a href="#" class="btn btn-danger" ng-click="reset()"><span class="fa fa-undo"></span></a>   
    <a href="#" class="btn btn-success" ng-click="save()"><span class="fa fa-floppy-o"></span></a>
    </div>
</div>
<button ng-click="cycleStates()" class="btn btn-primary"><span class="fa fa-refresh" style="z-index: 9999;"></span> STATE = {{state}}</button>
<video id="mainVideo" class="blurred" autoplay data-ng-src="{{videoSrc}}"></video>