


.graphic {
    &[hidden] {
        display: block;
    }

    img {
        width: 100%;
        height: auto;
    }

    [class*="graphic-"] {
        display: none;
    }

    .graphic {
        @include bp(600px, max) {
            &-xs {
                display: block;
            }
        }

        @media (min-width:600px) and (max-width: 1200px) {
            &-m {
                display: block;
            }
        }

        @include bp(1200px) {
            &-lg {
                display: block;
            }
        }
    }
}
 