@import "../utils/utils";

.ideas-section {
    $bottom: 20vw;

    min-height: 800px;
    background: $color-secondary;
    margin-bottom: -#{$bottom};
    padding-bottom: calc(6em + #{$bottom});
    position: relative;
    padding-top: calc(6em + #{$bottom});

    .hide-hr {
        position: relative;
        top: -2em;
    }

    .intro{
        max-width: 850px;
        margin: auto;
    }
    
    &-inner {
        position: relative;
        z-index: 2;
    }

    &:before {
        background: url(/Assets/dist/img/ice-footer.png) 0 50% no-repeat;
        background-size: cover;
        height: 0;
        content: '';
        padding-bottom: percentage(478/1024);
        z-index: 40;
        display: block;
        transform: rotate(180deg);
        @include abs(-2px,0,null,0);
        z-index: 0;
        user-select: none;
    }

    .grid-wrapper {
        margin: 5em auto;
    }

    .grid {
        margin: 0 auto;

        &.fade-in {
            .grid-item {
                opacity: 1;            
            }
        }



        .grid-item {
            width: 280px;
            background-color: white;
            padding: 15px;
            padding-top: 35px;
            position: relative;
            transition: opacity .6s ease;
            opacity: 0;
            overflow: hidden;

            @for $i from 1 through 20 {
                &:nth-of-type(#{$i}) {
                    transition-delay: 0.2 + (0.15s * $i);
                }
            }

            &.fade-new {
                transition-delay: unset;
                opacity: 0;
            }


            h4 {
                font-size: em(20px);
                position: relative;
                display: inline;
                margin: 0;
                padding: 0;

                .inner-text {
                    position: relative;
                    z-index: 2;  
                }

                
                .zza-icon {
                    color: rgba(130, 203, 215, 0.5);
                    font-size: 4em;
                    display: inline-block;
                    position: absolute;
                    top: -31px;
                    left: -45px;
                }
            }

            p {
                font-size: em(16px);
                margin-bottom: 0;
                margin-top: 1.25em;
            }
        }
    }  
}