.ms-edge {
    //.storytelling-map {
    //    position: static;
    //}

    .storytelling-map .graphic-map {
        display: none !important;
    }

    .storytelling-map-intro {
        position: relative;
    }

    .storytelling-map-intro:after {
        content: "";
        background: url(/Assets/dist/img/storytelling-map/edge-paint-map.png) 0 50% no-repeat;
        background-size: contain;
        width: 60%;
        height: 603px;
        position: absolute;
        bottom: -600px;
        right: 0;
    }

    .storytelling-map-intro:before {
        content: "";
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 53%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 53%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 53%,rgba(255,255,255,0) 100%);
        position: absolute;
        bottom: -1260px;
        width: 40%;
        height: 1260px;
        left: 0;
    }

    .storytelling-map-footer {
        height: 600px;
        position: relative;
        margin-top: -600px;
        margin-bottom: -120px;
    }

    .storytelling-map-footer:before {
        content: "";
        background: url(/Assets/dist/img/storytelling-map/edge-paint-map-footer.png) 0 50% no-repeat;
        width: 80%;
        height: 741px;
        position: absolute;
        right: -10%;
        background-size: contain;
        transform: rotate(20deg);
    }

    .storytelling-map-footer:after {
        content: "";
        background: linear-gradient(to top, #FFF 53%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        left: 0;
        width: 41%;
        height: 1000px;
        bottom: 0;
    }
}


//ie
.no-interactive-map {
    -webkit-overflow-scrolling: auto !important;
    overflow: auto !important;
    overflow-x: hidden !important;
    height: 100% !important;


    section.js-section:empty {
        display: none;
    }


    .storytelling-map {
        padding: 0;
        background: url("/Assets/dist/img/storytelling-map/ie-background.png");
        background-size: auto 100vh;
        background-attachment: fixed;
        background-position: right;

        canvas {
            display: none !important;
        }
    }


    .storytelling-map .graphic-map {
        display: none !important;
    }

    .storytelling-map-intro {
        position: relative;
        z-index: 20;
    }

    .storytelling-map-intro:after {
        content: "";
        background: url(/Assets/dist/img/storytelling-map/edge-paint-map.png) 0 50% no-repeat;
        background-size: contain;
        width: 60%;
        height: 603px;
        position: absolute;
        bottom: -520px;
        right: 0;
    }

    .storytelling-map-footer {
        height: 600px;
        position: relative;
        margin-top: -600px;
        margin-bottom: -120px;
    }

    .storytelling-map-footer:before {
        content: "";
        background: url(/Assets/dist/img/storytelling-map/edge-paint-map-footer.png) 0 50% no-repeat;
        width: 80%;
        height: 741px;
        position: absolute;
        right: -10%;
        background-size: contain;
        transform: rotate(20deg);
    }

    .storytelling-map-footer:after {
        content: "";
        background: linear-gradient(to top, #FFF 53%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        left: 0;
        width: 41%;
        height: 1000px;
        bottom: 0;
    }
}