
.intro-article{
    padding-top: 15em;

    @include bp(800px, max){
        padding-top: 7em;
        padding-bottom: 9em;
    }
    @include bp(400px, max){
        padding-top: 3em;
    }

   

    &-inner{
         max-width: 850px;
         margin:auto;
         margin-bottom: -5em;
    }
}


