
.js-section {
    text-align: left;
    width: 100%;
    float: right;

    p.intro{
        padding:0;
    }

    p{
        white-space: pre-wrap;
    }
}

.storytelling-map {
   position: relative;
   overflow: hidden;
   padding: 0; 
  // padding-bottom: 16%; if not last section
   // margin-top: -10%;
    z-index: 1;
    background-color:white;

   @include bp(485px, max){
        background: -moz-linear-gradient(bottom, #FFF 5%,rgba(255,255,255,0) 6%, rgba(255,255,255,0) 95%, #FFF 100%);
        background: -webkit-linear-gradient(bottom, #FFF 5%,rgba(255,255,255,0) 6%, rgba(255,255,255,0) 95%, #FFF 100%);
        background: linear-gradient(to bottom, #FFF 5%,rgba(255,255,255,0) 6%, rgba(255,255,255,0) 95%, #FFF 100%);
   }

   .container{
       &[hidden]{
           display: block;
       }
       canvas{
           left: 23%!important;
       }
   }

   .text {
       position: relative;
       z-index: 20;
       max-width: 100%;
       @include clearfix;

       @include bp(500px){
           max-width: 75%;
       }
       @include bp(800px){
           max-width: 62%;
       }
       @include bp(1200px){
           max-width: 50%;
       }

       .js-section{
           max-width:760px;
       }

       figure img {
           width: 100%;
       }

       .btn-section, .btn-group{
           text-align: center;
           padding-top: 1em;
           margin-left: 0;

           @include bp(800px, max){
               text-align: left;
           }

           .btn{
               margin-bottom: 3px;

               @include bp(370px, max){
                   margin-left: 0;
               }
           }
       }
       .btn-group{
           padding-top:0;
       }
   }

   .graphic-map {
       @include abs;
       display: none;

       &[hidden] { 
           @include bp(720px) {
               display: block;
           }
       }

       img {
           position: absolute;
           display: block;

           &:nth-child(1) { 
               top: 0; 
               right: 0;
               transform: scaleY(-1) translateY(63%);
               width: 100%;
           }
           &:nth-child(2) { 
               top: 0; 
               right: 0;
               transform: scaleY(-1) translateY(43%) rotate(60deg);
               width: 100%;
           }

           &:nth-child(3) { 
               width: 73%;
               height: 100%;
               top: 0; 
               left: 0;
               right: 0;
               bottom: 0;
           }

           &:nth-child(4) { 
               bottom: 0; 
               right: 0;
               transform: translateY(43%) rotate(60deg);
               display: block;
               width: 190%;
           }
           &:nth-child(5) { 
               bottom: 0; 
               right: 0;
               transform: translateY(63%);
               display: block;
               width: 40%;
           }
       }
   }


   .teamlist{
        margin: 40px 0;

        & > li{
            padding: 2em 0;
        }

        h3{
            font-size: 1.875em;
            letter-spacing: .08em;
            margin-bottom: 1em;
        }
   }

   .js-section .btn.btn-tertiary-light {
        padding-left: 0;
        margin-left: -4px;
    }
}

.map-meta {
    color: $color-primary;
    display: block;
    font-size: 1.6rem;
    margin-top: 1.2em;
    font-family: $font-body;
    letter-spacing: 0.35rem;


    .fa {
        margin-right: -3px;

        &:not(:first-of-type) {
            margin-left: 15px;
        }
    }
}