[data-section] {
    position: relative;
    z-index: 50;

    &#reis {  z-index: 45; }
}



$transition-open: left .2s;


.body{
    transition: margin .2s, left .2s;
   
    @include bp($breakpoint-nav, max) {
        &:after{
            content: "";
            @include abs();
            background: rgba(0, 0, 0, 0.19);
            pointer-events: none;
            z-index: -1;
            opacity: 0;
            transition: opacity .2s;
        }
     
        &-nav-open {
            margin-left: $nav-width;
            margin-right: $nav-width-neg;
            position: relative;
            left: -30px;

            &:after{
                z-index: 200;
                opacity: 1;
            }
        }
    }
    @media (min-width:$breakpoint-nav-md) and (max-width:$breakpoint-nav){
        &-nav-open{
            margin-left: $nav-width-lg;
            margin-right: $nav-width-lg-neg;
        }
    } 
  
}

.main-nav {
    @include fxd(0,auto,0,0);
    -webkit-transform: translateZ(0);
    left:$nav-width-neg;
    background-image: $color-secondary;
    background-image: url('/Assets/dist/img/map-nav-small.svg');
    background-size: 100%;
    transition: $transition-open, bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 200001;
    width: $nav-width;
    padding: 2em;
    height: 100vh;
    overflow-y: auto;

    @include bp($breakpoint-nav-md){
        left:$nav-width-lg-neg;
        width: $nav-width-lg;
    }

    @include bp(450px, max){
        padding: 1em;
    }

    @include bp($breakpoint-nav) {
        left: -2px;
        right:-2px;
        top: auto;
        bottom: -106px;
        background-image: url('/Assets/dist/img/nav2.svg');
        background-size: 105% 100%;
        width:100%;
        padding: 1.2em 0;
        opacity:0;
        z-index: 9998; 
        height: auto;
        overflow:visible;

        &.fade-in{
            bottom: -6px;
            opacity:1;
        }
    }

    &-open {
        left: 0;
    }

    h3 {
        text-align: center;
        margin-top: 2em;

        @include bp($breakpoint-nav) {
            display: none;
        }
        @include bp(450px, max){
            font-size: 1.8em;
            text-align: left;
        }
    }

    ul {
        list-style: none;
    }

    li {
        height: 53px;

        @include bp($breakpoint-nav) {
            float: left;
            height: auto;
            margin-left: 20px;
        }

        a {
            font-family: $font-heading;
            color: white;
            text-decoration: none;
            font-size: 1.5em;

            @include bp(450px, max){
                font-size: 1.2em;
            }

            &:before {
                content: "";
                @include size(0.35em);
                background-color: $color-secondary-t2;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                position: relative;
                z-index: 2;
            }
        }

        &.active, &:hover, &:focus {
            a {
                color: $color-primary;

                &:before {
                    background-color: $color-primary;
                }
            }
        }
    }
}

.nav-toggle {
    position: fixed;
    top: 30px;
    left: 0;
    margin-left: 10px;
    z-index: 9999;
    transition: $transition-open;

    .main-nav-open + & {
        left: $nav-width;

        @media (min-width:$breakpoint-nav-md) and (max-width:$breakpoint-nav){
            left: $nav-width-lg;
        }
    }

    @include bp(450px) {
        margin-left: 20px;
    }

    

    @include bp($breakpoint-nav) {
        display: none;
    }
}


.main-nav .map-nav {
    position: relative;

    img {
        position: absolute;
        left: 0;
        top: .8em;
        height: 51px;
        display: block;
        z-index: 0;
    }

    @include bp($breakpoint-nav) {
        width: 95px;
        margin-left: 0;

        &-first{
            margin-left: 20px;
        }
        &-last{
            width: 15px;
        }

        a {
            $tooltip-color:rgba(0, 0, 0, 0.7);

            span {
                display: none;
                background: $tooltip-color;
                font-size: 16px;
                padding: 2px 8px; 
                width: auto;
                border-radius: 5px;
                margin-top: -60px;
                position: absolute;
                margin-left: -20px;
                white-space: nowrap;

                &:after{
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 4px solid rgba(0, 0, 0, 0);
                    border-right: 4px solid rgba(0, 0, 0, 0);
                    border-top: 6px solid $tooltip-color;
                    position: absolute;
                    bottom: -6px;
                    left: 20px;
                }
            }
            &:hover span{
                display: block;
                color: white;
            }
        }

        img{
            transform: rotate(90deg);
            top: -30px;
            height: auto; 
            left: 44px;
        }
    }
}


//.fill-stroke path{
//    stroke-dasharray: 110px;
//    stroke-dashoffset: 110px;
//    transition: all .2s;
//}



