$nudge-keyboard: -450px;

.controls {
    background: url(/assets/img/ice-footer.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    
    .video-time {
        position: absolute;
        right: 50px;
        bottom: 40px;
        color: #888;
        font-size: 40px;
        letter-spacing: 0.15em;
    }
}

#test {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 500;
    display: none;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
} 

h2 {
    text-align: center;
    margin-top: 120px;
    font-size: em(85px);
    position: relative;
    z-index: 5;
}

.video-overlay {
    &,&:before, &:after { transition: all .4s ease-in-out; }
    opacity: 0;
    pointer-events: none;
    
    .state-0 &,
    .state-3 &,
    .state-4 &,
    .state-1.show-count & {
        opacity: 1;
    }
    
    .state-3 &,
    .state-4 & {
        &:before { opacity: 1; }
        &:after { opacity: 0; }
    }
    
    &:before, &:after {
        position: absolute;
        @include abs;
        display: block;
        content: '';
        z-index: 1;
    }
    
    &:before {
        background: #1E393E;
        opacity: .8;
    }
    
    &:after {
        background-image: linear-gradient(0deg, rgba(63,106,113,0.00) 0%, rgba(42,73,78,0.55) 55%, #172C30 100%);
        bottom: 55%;
        z-index: 2;
    }
}

.btn.btn-primary.record-btn {
    &,&[ng-disabled]{
        position: absolute;
        bottom: 50px; 
        left: 50%;
        transform: translateX(-50%);
        z-index: 600;
        background: white;
        border-color: white;
        transform: translateX(-50%);
        transform-origin: center bottom;
        
        &:focus {
            background: darken(white, 10%);
            border-color: darken(white, 10%);
        }
        
        .inner {
            @include abs;
            background: white;
            border-radius: 50%;
            transform: scale(0.7);
            background: #F54219;
            box-shadow: 4px 5px 30px 0px rgba(0,0,0,0.29);
        }
    }
}


@keyframes tick {
    0% {
        opacity: 1;
    }   
    50% {
        opacity: 1;
    } 
    53% {
        opacity: .8;
    } 
    97% {
        opacity: .8;
    }
}

.state-0 {
    &.keyboard-true {
        .btn.btn-primary.record-btn {
            transform: translateX(-50%) translateY(#{$nudge-keyboard - 50px});
        }
    }
}

.state-1 {
    .video-time,
    .record-btn.fab-md {
        opacity: 0;
        transition: all .4s ease-in-out;
    }
    
    &.hide-count {
        .video-time,
        .record-btn.fab-md {
            opacity: 1;
        }
        
        .record-btn.fab-md {
            .inner {
                animation: tick 2s infinite ease-in-out;
            }
        }
    }
    
}
    
.state-2 {
    .btn.btn-blue.fab-md,
    .btn.record-btn.fab-md {
        transform: scale(0.66);
        transform-origin: center bottom;
        position: absolute; 
        bottom: 40px;
        right: 0;
    }
    
    .btn.record-btn.fab-md {
        right: auto;
        left: 0;
    }
    
    .btn-play {
        margin-left: 10px;
    }
    .btn-pause {
        height: 130px;
    }
    
    .btn.btn-success {
        bottom: 40px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);  
        
        img {
            width: 160px;
        }
        
    }
    
}
    
.state-3,
.state-4 {
    .btn.btn-fab.btn-success {
        position: absolute;
        top: 50%;
        bottom: auto;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.8);
        z-index: 500;
        
        .fa {
            position: absolute;
            top: 27%;
            left: 27%;
            font-size: 120px;
            color: #00363B;
        }
        
        img {
            width: 140px;
        }
    } 
    
    .btn.btn-fab.btn-primary.record-btn {
        left: 0;
        transform: scale(0.66) translateX(0);
    }

}

form {
    @include abs;
    z-index: 500;
    transition: .2s ease-in-out;
    
    .keyboard-true & {
        margin-top: $nudge-keyboard;
    }
    
    .intro {
        max-width: 1200px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        margin-top: -20px;
    }
}

.count-down {
    transition: all .4s ease-in-out;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0; 
    height: 68vh;
    z-index: 1;
    z-index: 50;
    pointer-events: none;

    
    .hide-count & {
        top: -300vh;
        pointer-events: none;
    }
    
    
    .btn {
        height: 68vh;
        width: 68vh;
        position: absolute;
        left: 50%;
        top: 50%;
        pointer-events: none;
        z-index: 500;
        transform: translate(-50%, -50%)!important;
        
        .counts {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 25vh;
            letter-spacing: 0.05em;
            text-align: center;
        }
        .count {
            opacity: 0.4;
            transition: 0.2s ease-in-out;
            &.active {
                opacity: 1;
            }
        }
    }    
}

// animate screens
.animate-if {
    &.ng-enter,
    &.ng-leave {
        transition: opacity ease-in-out .5s;
    }
    &.ng-enter,
    &.ng-leave.ng-leave-active {
        opacity: 0;
    }
    &.ng-leave,
    &.ng-enter.ng-enter-active {
        opacity: 1;
    }
} 

.show-onload {
    &.ng-enter,
    &.ng-leave {
        transition: opacity ease-in-out .5s;
        transition-delay: 1s;
    }
    &.ng-enter,
    &.ng-leave.ng-leave-active {
        opacity: 0;
    }
    &.ng-leave,
    &.ng-enter.ng-enter-active {
        opacity: 1;
    }
}

.state-3, .state-4 {
    .btn-blue {
        display: none!important;
    }
}
.state--1, .state-0 {
    .btn-success {
        display: none!important;
    }
}